{% load static %}
<header>
  <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      {% with request.resolver_match.view_name as view_name %}
      <ul>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'blog:main_page' %}">
            Социальный Блог
          </a>
          </li>
      </ul>

        <ul class="nav nav-pills">

          <li class="nav-item">
            <a class="nav-link {% if view_name == 'blog:main_page' %} active {% endif %}"
                href="{% url 'blog:main_page' %}">Главная страница</a>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Профсоюзы
            </a>
            {% include "includes/dropdown_menu_proff_union.html" %}
          </li>

          {% if request.user.is_authenticated %}
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user.email}}
              </a>
              {% include "includes/dropdown_menu_users_account.html" %}
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'users:login' %}">Вход</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'users:register' %}">Регистрация</a>
            </li>
          {% endif %}

        </ul>
        
      {% endwith %}
    </div>
  </nav>
  {% include "includes/done.html" %}  
</header>
