{% load static %}

{% if messages %}
  <div class="card-body">
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        <p style="font-family:Times; font-style: normal; color:black; font-weight: bold; font-size:24px;">{{ message }}</p>
      </div>
      {% comment %} {% if message.tags == 'info' %}
        <div class="alert alert-info" id="p_message" role="alert">
          <p style="font-family:Times; font-style: normal; color:black; font-weight: bold; font-size:24px;">{{ message }}</p>
        </div>
      {% elif message.tags == 'success' %}
        <div class="alert alert-success" id="p_message" role="alert">
          <p style="font-family:Times; font-style: normal; color:black; font-weight: bold; font-size:24px;">{{ message }}</p>
        </div>
      {% elif message.tags == 'warning' %}
        <div class="alert alert-warning" role="alert">
          <p style="font-family:Times; font-style: normal; color:black; font-weight: bold; font-size:24px;">{{ message }}</p>
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert">
          <p style="font-family:Times; font-style: normal; color:black; font-weight: bold; font-size:24px;">{{ message }}</p>
        </div>
      {% endif %} {% endcomment %}
    {% endfor %}
  </div>
{% endif %}

